header{ 
    display: flex;
    justify-content:space-between;
}
.menu{ 
      display: flex;
      justify-content: space-between;
      background-color: aqua;
      width: 600px;
      align-items: center;
      text-decoration: none;
}