header{ 
    display: flex;
    justify-content:space-between;
}
.menu{ 
      display: flex;
      justify-content: space-between;
      background-color: rgb(255, 255, 255);
      width: 600px;
      align-items: center
    }

a{
    text-decoration: none ;
    color: green
 }
 .box1{ 
    background-color: rgb(255, 255, 255);
    color:green;
    display: flex;
    flex-direction: column;
    align-items: center;
  
      }
 .boxmoyenne{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent: 200px;
     }
    .para1{ 
        background-color:transparent;
        height: 100px;width: 500px;
     }
    .para2{
         background-color:transparent;
        height: 100px;width: 500px;

     }

     
  .boxfinal{background-color: transparent;
    height: 500px;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
     }
  .section1{
    background-color: aqua;width: 300px;height: 300px;border-radius: 15px;
   

   }
  .section2{
    background-color: blanchedalmond;width:300px;height: 300px;border-radius: 15px

   }
  .section3{
    background-color: aquamarine;width:300px;height: 300px;border-radius: 15px

   }